.ui.bottom.attached.segment{style: "height: 91.4%"}
  .ui.sixteen.column.grid
    .twelve.wide.column.centered.aligned
      .ui.fluid.raised.card.score_card
        Your Score is:
        = @test.score